# Node modules
/node_modules/

# Build output
/dist/
*.tgz

# Log files
*.log

# Dependency directories
/.pnp
.pnp.js

# dotenv environment variables file
.env
.env.*

# Next.js build output
.next

# macOS Finder files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# VSCode settings
.vscode/

# JetBrains IDEs
.idea/

# npm package lock file
package-lock.json

# yarn lock file
yarn.lock

# pnpm lock file
pnpm-lock.yaml

# Sentry cache and build
.sentry/

# Sentry release artifacts
.sentry-release/

# Vite cache
/.vite/

# Storybook
out/

# Coverage directory used by tools like Jest
/coverage/

# TypeScript
*.tsbuildinfo
